/*
Theme colors:

logo colors:

bisq blue: 0f86c3
bisq grey: 666666

00abff
orange web page quotes : ff7f00


main bg grey: dddddd
content bg grey: f4f4f4
tab pane upper bg gradient color mid dark grey to bright grey: cfcfcf -> dddddd
upper border on tab: cfcfcf
lower border on tab: b5b5b5
upper gradient color on tab: d3d3d3
lower gradient color on tab: dddddd
bg color of non edit textFields: fafafa
*/

.root {
    -bs-grey: #666666;
    -bs-bg-grey: #dddddd;
    -bs-light-grey: #cccccc;
    -bs-content-bg-grey: #f4f4f4;
    -bs-very-light-grey: #f8f8f8;

    -fx-accent: #0f86c3;
    -bs-blue-soft: derive(-fx-accent, 60%);
    -bs-blue-transparent: #0f87c344;

    -bs-green: #00aa33;
    -bs-green-soft: derive(-bs-green, 60%);
    -bs-green-transparent: #00aa3344;

    -bs-error-red: #dd0000;
    -bs-red-soft: derive(-bs-error-red, 60%);

    -bs-orange: #ff8a2b;
    -bs-yellow: #ffb60f;
    -bs-turquoise: #2cacaf;
    -bs-turquoise2: #1c9099;
    -bs-brown: #52321b;
    -bs-dark-blue: #0b456d;
    -bs-dark-green: #708614;
    -bs-fresh-green: #b7d042;
    -bs-ocher: #de9d2c;
    -bs-light-blue: #c4eef2;
    -bs-smooth-red: #ed7157;
    -bs-soft-red: #fe5e1c;
    -bs-soft-red2: #f35e1c;
    -bs-soft-red3: #fa6f25;
    -bs-yellow2: #f7ac03;

    -bs-warning: -bs-orange;

    -bs-buy: -bs-yellow;
    -bs-buy-focus: derive(-bs-buy, -50%);
    -bs-buy-hover: derive(-bs-buy, -10%);
    -bs-buy-transparent: derive(-bs-buy, 75%);

    -bs-sell: -bs-turquoise;
    -bs-sell-focus: derive(-bs-sell, -50%);
    -bs-sell-hover: derive(-bs-sell, -10%);
    -bs-sell-transparent: derive(-bs-sell, 95%);

    -bs-cancel: #ddd;
    -bs-cancel-focus: derive(-bs-cancel, -50%);
    -bs-cancel-hover: derive(-bs-cancel, -10%);

    -fx-default-button: derive(-fx-accent, 95%);
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: #0f87c322;
    -fx-selection-bar: derive(-fx-accent, 50%);

    -fx-font-size: 13;
    -fx-font-family: "Verdana";
}

/* Splash */

#splash {
    -fx-background-color: #ffffff;
}

#splash-error-state-msg {
    -fx-text-fill: -bs-error-red;
}

#splash-bitcoin-network-label {
    -fx-text-fill: -fx-accent;
    -fx-font-weight: bold;
}

/* Main UI */
#base-content-container {
    -fx-background-color: -bs-bg-grey;
}

#content-pane {
    -fx-background-color: -bs-content-bg-grey;
}

#footer-pane {
    -fx-background-color: #ddd;
    -fx-font-size: 12;
    -fx-text-fill: #333;
}

#footer-pane-line {
    -fx-background: #bbb;
}

#headline-label {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

/* Main navigation */
#nav-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

#nav-button .text {
    -fx-font-size: 10;
}

#nav-button:selected .text {
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-fill: -fx-accent;
}

#nav-button-label {
    -fx-font-size: 10;
}

#nav-balance-label {
    -fx-font-size: 10;
    -fx-alignment: center;
}

#nav-alert-label {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 11;
    -fx-text-fill: white;
}

.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-field:readonly {
    -fx-text-fill: #000000;
    -fx-background-color: #FAFAFA;
}

.text-area:readonly .content {
    -fx-background-color: #FAFAFA;
}

#feedback-text {
    -fx-font-size: 10;
}

#label-url {
    -fx-cursor: hand;
    -fx-text-fill: blue;
    -fx-underline: true;
}

#icon-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.copy-icon {
    -fx-text-fill: -fx-accent;
    -fx-cursor: hand;
}

.copy-icon-disputes {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.copy-icon:hover {
    -fx-text-fill: black;
}

.external-link-icon {
    -fx-text-fill: -fx-accent;
    -fx-cursor: hand;
}

.received-funds-icon {
    -fx-text-fill: -bs-green-soft;
    -fx-cursor: hand;
}

.received-funds-icon:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.sent-funds-icon {
    -fx-text-fill: -bs-red-soft;
    -fx-cursor: hand;
}

.sent-funds-icon:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.internal-funds-icon {
    -fx-text-fill: #999;
    -fx-cursor: hand;
}


.dao-tx-type-unverified-icon,
.dao-tx-type-unverified-icon:hover {
    -fx-text-fill: -bs-yellow;
    -fx-cursor: hand;
}

.dao-tx-type-invalid-icon,
.dao-tx-type-invalid-icon:hover {
    -fx-text-fill: -bs-error-red;
    -fx-cursor: hand;
}

.dao-tx-type-default-icon,
.dao-tx-type-default-icon:hover {
    -fx-text-fill: -bs-grey;
    -fx-cursor: hand;
}

.dao-tx-type-genesis-icon,
.dao-tx-type-genesis-icon:hover {
    -fx-text-fill: -fx-accent;
    -fx-cursor: hand;
}


.dao-tx-type-received-funds-icon,
.dao-tx-type-received-funds-icon:hover {
    -fx-text-fill: -bs-green-soft;
    -fx-cursor: hand;
}

.dao-tx-type-sent-funds-icon,
.dao-tx-type-sent-funds-icon:hover {
    -fx-text-fill: -bs-red-soft;
    -fx-cursor: hand;
}

.dao-tx-type-default-icon,
.dao-tx-type-default-icon:hover {
    -fx-text-fill: -bs-grey;
    -fx-cursor: hand;
}

.dao-tx-type-issuance-icon,
.dao-tx-type-issuance-icon:hover {
    -fx-text-fill: -bs-green;
    -fx-cursor: hand;
}


/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background: white;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
}

/* Same style like non editable textfield. But textfield spans a whole column in a grid, so we use generally
textfield */
#label-with-background {
    -fx-background-color: #FAFAFA;
    -fx-border-radius: 4;
    -fx-padding: 4 4 4 4;
}

#address-text-field {
    -fx-cursor: hand;
    -fx-text-fill: -fx-accent;
}

#address-text-field:hover {
    -fx-text-fill: black;
}

#funds-confidence {
    -fx-progress-color: dimgrey;
}

.hyperlink {
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.hyperlink .text {
    -fx-fill: white;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.hyperlink .text {
    -fx-fill: -fx-accent;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.hyperlink .text:hover,
.hyperlink .tooltip .text,
.hyperlink .text:hover {
    -fx-fill: black;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.hyperlink:hover,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-underline: false;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.hyperlink:focused {
    -fx-border-style: none;
    -fx-border-width: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Table                                                                     *
 *                                                                             *
 ******************************************************************************/

.table-view .table-cell {
    -fx-alignment: center;
}

.table-view .column-header .label {
    -fx-alignment: center;
}

.table-view .focus {
    -fx-alignment: center;
}

.table-view .text {
    -fx-fill: black;
}

.table-view:focused {
    /*-fx-background-color: transparent;*/
}

/* horizontal scrollbars are never needed and are flickering at scaling so lets turn them off */
.table-view > .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.table-view .table-row-cell:selected .table-row-cell:row-selection .table-row-cell:cell-selection .text {
    -fx-fill: white;
}

.table-view .table-row-cell:selected .button .text {
    -fx-fill: black;
}

.table-view .table-row-cell .copy-icon .text,
.table-view .table-row-cell .copy-icon .text:hover {
    -fx-fill: -fx-accent;
}

.table-view .table-row-cell:selected .copy-icon .text {
    -fx-fill: white;
}

.table-view .table-row-cell:selected .copy-icon .text:hover {
    -fx-fill: black;
}

.table-view .table-row-cell:selected .hyperlink .text {
    -fx-fill: white;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink .text {
    -fx-fill: -fx-accent;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink .text:hover,
.table-view .table-row-cell:selected .hyperlink .tooltip .text,
.table-view .table-row-cell:selected .hyperlink .text:hover {
    -fx-fill: black;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink:hover,
.table-view .table-row-cell .hyperlink:visited,
.table-view .table-row-cell .hyperlink:hover:visited {
    -fx-underline: false;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view .table-row-cell .hyperlink:focused {
    -fx-border-style: none;
    -fx-border-width: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Icons                                                                     *
 *                                                                             *
 ******************************************************************************/

#non-clickable-icon {
    -fx-text-fill: #AAAAAA;
}

#clickable-icon {
    -fx-text-fill: -fx-accent;
    -fx-cursor: hand;
}

#clickable-icon:hover {
    -fx-text-fill: -bs-grey;
}

/*******************************************************************************
 *                                                                             *
 * Tab pane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab-pane .tab-label {
    -fx-font-size: 15;
}

.tab-pane:focused {
    -fx-background-color: transparent;
}

.tab-header-area:focused {
    -fx-background-color: transparent;
}

.tab:focused {
    -fx-background-color: transparent;
}

#form-header-text {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#form-title {
    -fx-font-weight: bold;
}

/* scroll-pane */

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* validation */
#validation-error {
    -fx-text-fill: red;
}

/* Account */

#content-pane-top {
    -fx-background-color: #cfcfcf,
    linear-gradient(#cfcfcf 0%, #b5b5b5 100%),
    linear-gradient(#d3d3d3 0%, -bs-bg-grey 100%);
    -fx-background-insets: 0 0 0 0, 0, 1;
}

#info-icon-label {
    -fx-font-size: 16;
    -fx-text-fill: #333000;
}

/* OfferPayload book */
#num-offers {
    -fx-font-size: 12;
}

/* Create offer */
#direction-icon-label {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: -bs-grey;
}

#input-description-label {
    -fx-font-size: 11;
    -fx-alignment: center;
}

#create-offer-calc-label {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 15 5 0 5;
}

#currency-info-label {
    -fx-border-radius: 0 4 4 0;
    -fx-padding: 4 4 4 4;
    -fx-background-color: #f6f6f6;
    -fx-border-color: #aaa;
    -fx-border-style: solid solid solid none;
    -fx-border-insets: 0 0 0 -2;
}

#currency-info-label-disabled {
    -fx-border-radius: 0 4 4 0;
    -fx-padding: 4 4 4 4;
    -fx-background-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
    -fx-border-style: solid solid solid none;
    -fx-border-insets: 0 0 0 -2;
}

#toggle-price-left {
    -fx-border-radius: 4 0 0 4;
    -fx-padding: 4 4 4 4;
    -fx-border-color: #aaa;
    -fx-border-style: solid none solid solid;
    -fx-border-insets: 0 -2 0 0;
    -fx-background-insets: 0 -2 0 0;
    -fx-background-radius: 4 0 0 4;
}

#toggle-price-right {
    -fx-border-radius: 0 4 4 0;
    -fx-padding: 4 4 4 4;
    -fx-border-color: #aaa;
    -fx-border-style: solid solid solid none;
    -fx-border-insets: 0 0 0 -2;
    -fx-background-insets: 0 0 0 -2;
    -fx-background-radius: 0 4 4 0;
}

#totals-separator {
    -fx-background: #AAAAAA;
}

#payment-info {
    -fx-background-color: -bs-content-bg-grey;
}

/* Account setup */
#wizard-title-deactivated {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #999999;
}

#wizard-title-active {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #333333;
}

#wizard-title-completed {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #333333;
}

#wizard-sub-title-deactivated {
    -fx-text-fill: #999999;
}

#wizard-sub-title-active {
    -fx-text-fill: #333333;
}

#wizard-sub-title-completed {
    -fx-text-fill: #333333;
}

#wizard-item-background-deactivated {
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #F0F0F0);
    -fx-outer-border: linear-gradient(to bottom, -bs-bg-grey, #ccc);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

#wizard-item-background-active {
    -fx-body-color: linear-gradient(to bottom, #f1f6f7, #e7f5f9);
    -fx-outer-border: linear-gradient(to bottom, #b5e1ef, #6aa4b6);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

#wizard-item-background-completed {
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #F0F0F0);
    -fx-outer-border: linear-gradient(to bottom, #99ba9c, #619865);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

/* Account settings */
#wizard-title-disabled {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #999999;
}

#wizard-title-active {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #333333;
}

#wizard-title-selected {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: -fx-accent;
}

#account-settings-item-background-disabled {
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #F0F0F0);
    -fx-outer-border: linear-gradient(to bottom, -bs-bg-grey, #ccc);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

#account-settings-item-background-active {
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #F0F0F0);
    -fx-outer-border: linear-gradient(to bottom, -bs-bg-grey, #ccc);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

#account-settings-item-background-selected {
    -fx-body-color: linear-gradient(to bottom, #f1f6f7, #e7f5f9);
    -fx-outer-border: linear-gradient(to bottom, #b5e1ef, #6aa4b6);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

/* Pending trades */
#trade-wizard-item-background-disabled {
    -fx-text-fill: -bs-grey;
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #F0F0F0);
    -fx-outer-border: linear-gradient(to bottom, -bs-bg-grey, #ccc);
    /*  -fx-body-color:  #F0F0F0;
      -fx-outer-border:  #ccc;*/
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 1px, 1px, 1px, 1px;
}

#trade-wizard-item-background-active {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-body-color: linear-gradient(to bottom, #f1f6f7, #e7f5f9);
    -fx-outer-border: linear-gradient(to bottom, #b5e1ef, #6aa4b6);
    /* -fx-body-color: #e7f5f9;
     -fx-outer-border:  #6aa4b6;*/
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 1px, 1px, 1px, 1px;
}

#trade-wizard-item-background-completed {
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #E1E9E1);
    -fx-outer-border: linear-gradient(to bottom, #99ba9c, #619865);
    /* -fx-body-color: #def6df;
     -fx-outer-border: #7db581;*/
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 1px, 1px, 1px, 1px;
}

#open-support-button {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-base: -bs-warning;
}

#open-dispute-button {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-base: #dd0000;
}

/* TitledGroupBg */
#titled-group-bg-label {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: -bs-grey;
    -fx-background-color: -bs-content-bg-grey;
}

#titled-group-bg-label-active {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: -fx-accent;
    -fx-background-color: -bs-content-bg-grey;
}

#titled-group-bg {
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #F0F0F0);
    -fx-outer-border: linear-gradient(to bottom, -bs-bg-grey, #ccc);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

#titled-group-bg-active {
    -fx-body-color: linear-gradient(to bottom, -bs-content-bg-grey, #F0F0F0);
    -fx-outer-border: linear-gradient(to bottom, #9bbdc9, #57acc9);
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

/* TableGroupHeadline */
#table-group-headline {
    -fx-background-color: -bs-content-bg-grey;
    -fx-background-insets: 10 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

/* copied form modena.css text-input */
#flow-pane-checkboxes-bg {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

#flow-pane-checkboxes-non-editable-bg {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -bs-very-light-grey);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

/* message-list-view*/
#message-list-view.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: white;
}

#message-list-view.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: white;
}

#message-list-view.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled {
    -fx-background-color: white;
}

#message-list-view.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: white;
}

#message-list-view.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: white;
}

#message-list-view.list-cell {
    -fx-padding: 0.25em 0.583em 0.25em 0.583em;
}

#message-list-view.list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

#message-list-view.list-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

/* bubble */
#message-bubble-green {
    -fx-background-color: -bs-green;
    -fx-background-radius: 10 10 10 10;
}

#message-bubble-blue {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 10 10 10 10;
}

#message-bubble-grey {
    -fx-background-color: -bs-light-grey;
    -fx-background-radius: 10 10 10 10;
}

.attachment-icon {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.attachment-icon-black {
    -fx-text-fill: black;
    -fx-cursor: hand;
}

/********************************************************************************************************************
 *
 * Text validation
 *
 ********************************************************************************************************************/

.text-field.validation_error, .text-area.validation_error .content, .date-picker.validation_error > .text-field {
    -fx-background-color: red,
    linear-gradient(
            to bottom,
            derive(#ff8986, 40%) 5%,
            derive(#ff8986, 70%) 40%
    );
}

/********************************************************************************************************************
 *
 * Market overview
 *
 ********************************************************************************************************************/

#charts .chart-legend {
    -fx-font-size: 14;
    -fx-alignment: center;
}

#charts .axis {
    -fx-tick-label-fill: black;
}

#charts .chart-plot-background {
    -fx-background-color: white;
}

#charts .default-color0.chart-area-symbol {
    -fx-background-color: -bs-sell, white;
}

#charts .default-color1.chart-area-symbol {
    -fx-background-color: -bs-buy, white;
}

#charts .default-color0.chart-series-area-line {
    -fx-stroke: -bs-sell;
}

#charts .default-color1.chart-series-area-line {
    -fx-stroke: -bs-buy;
}

#charts .default-color0.chart-series-area-fill {
    -fx-fill: -bs-sell-transparent;
}

#charts .default-color1.chart-series-area-fill {
    -fx-fill: -bs-buy-transparent;
}

#charts .axis-label {
    -fx-font-size: 16;
    -fx-alignment: center;
}

/********************************************************************************************************************
 *
 * Rounded buttons
 *
 ********************************************************************************************************************/

#buy-button-big {
    -fx-base: -bs-buy;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-radius: 5;
}

#buy-button-big:focused {
    -fx-background-color: -bs-buy-focus, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

#buy-button-big:hover {
    -fx-base: -bs-buy-hover;
}

#buy-button {
    -fx-base: -bs-buy;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#buy-button:focused {
    -fx-background-color: -bs-buy-focus, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

#buy-button:hover {
    -fx-base: -bs-buy-hover;
}

#sell-button-big {
    -fx-base: -bs-sell;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-radius: 5;
}

#sell-button-big:focused {
    -fx-background-color: -bs-sell-focus, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

#sell-button-big:hover {
    -fx-base: -bs-sell-hover;
}

#sell-button {
    -fx-base: -bs-sell;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#sell-button:focused {
    -fx-background-color: -bs-sell-focus, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

#sell-button:hover {
    -fx-base: -bs-sell-hover;
}

#cancel-button {
    -fx-base: -bs-cancel;
    -fx-text-fill: #444;
    -fx-font-weight: bold;
}

#cancel-button:hover {
    -fx-base: -bs-cancel-hover;
}

#cancel-button:focused {
    -fx-background-color: -bs-cancel-focus, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

/********************************************************************************************************************
 *
 * Popups
 *
 ********************************************************************************************************************/

#popup-headline {
    -fx-font-size: 16;
    -fx-text-fill: #333;
}

#popup-bg {
    -fx-font-size: 14;
    -fx-text-fill: #333;
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
    -fx-background-insets: 10;
    -fx-effect: dropshadow(gaussian, #999, 10, 0, 0, 0);
}

#popup-bg-top {
    -fx-font-size: 14;
    -fx-text-fill: #333;
    -fx-background-color: white;
    -fx-background-radius: 0 0 10 10;
    -fx-background-insets: 10;
    -fx-effect: dropshadow(gaussian, #999, 10, 0, 0, 0);
}

#notification-popup-headline {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

#notification-popup-bg {
    -fx-font-size: 11;
    -fx-text-fill: #3c3c3c;
    -fx-background-color: linear-gradient(to bottom, #fcfcfc, #e5e5e5);
    -fx-background-radius: 5 5 5 5;
    -fx-background-insets: 5 5 20 20;
    -fx-effect: dropshadow(gaussian, #666, 12, 0, -1, 3);
}

#peer-info-popup-bg {
    -fx-font-size: 11;
    -fx-text-fill: #3c3c3c;
    -fx-background-color: linear-gradient(to bottom, #fafafa, #f1f1f1);
    -fx-background-radius: 3 3 3 3;
    -fx-background-insets: 5 5 20 20;
    -fx-effect: dropshadow(gaussian, #666, 12, 0, -1, 3);
}

#peer-info-popup-headline {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.popup-icon-information {
    -fx-text-fill: #ddd;
}

.popup-icon-warning {
    -fx-text-fill: #dd6900;
}

#price-feed-combo {
    -fx-background-color: #555;
    -fx-text-fill: white;
    -fx-alignment: center;
}

#invert-market-price {
    -fx-text-fill: #111;
}

#popup-qr-code-info {
    -fx-font-size: 11;
}

#ident-num-label {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 10;
    -fx-text-fill: white;
}

#toggle-left {
    -fx-border-radius: 4 0 0 4;
    -fx-padding: 4 4 4 4;
    -fx-border-color: #aaa;
    -fx-border-style: solid solid solid solid;
    -fx-border-insets: 0 -2 0 0;
    -fx-background-insets: 0 -2 0 0;
    -fx-background-radius: 4 0 0 4;
}

#toggle-center {
    -fx-border-radius: 0 0 0 0;
    -fx-padding: 4 4 4 4;
    -fx-border-color: #aaa;
    -fx-border-style: solid solid solid solid;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#toggle-right {
    -fx-border-radius: 0 4 4 0;
    -fx-padding: 4 4 4 4;
    -fx-border-color: #aaa;
    -fx-border-style: solid solid solid solid;
    -fx-border-insets: 0 0 0 -2;
    -fx-background-insets: 0 0 0 -2;
    -fx-background-radius: 0 4 4 0;
}
