/*
 * This file is part of Bitsquare.
 *
 * Bitsquare is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version.
 *
 * Bitsquare is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Bitsquare. If not, see <http://www.gnu.org/licenses/>.
 */

body {
    font-family: sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:link {
    color: #0f87c3;
}

a:visited {
    color: #0f87c3;
}

a:hover {
    color: #666666;
}

a:active {
    color: #0f87c3;
}

h1 {
    font-size: 16px;
}