*/docs
*/log
*/bin
*/out
.idea
!.idea/copyright/bisq_Affero_GPLv3.xml
!.idea/copyright/profiles_settings.xml
!.idea/codeStyleSettings.xml
*.iml
*.spvchain
*.wallet
*.ser
*.log
*.sw[op]
.DS_Store
.gradle
build
.classpath
.project
.settings
*.java.hsp
*.java.hsw
*.~ava
/bundles
/bisq-*
/lib
/xchange
desktop.ini
*/target/*
*.class
deploy
*/releases/*
.java-version
.localnet
/apitest/src/main/resources/dao-setup*
/.run
/regtest/data_dirs
/build-logic/app-start-plugin/out/*
/build-logic/docker-image-builder/out/*
/build-logic/gradle-tasks/out/*
/build-logic/packaging/out/*
/build-logic/regtest/out/*
/build-logic/toolchain-resolver/out/*
/build-logic/tor-binary/out/*
