<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
    The :daemon & :cli jars contain their own logback.xml config files, which causes chatty logback startup.
    To avoid chatty logback msgs during its configuration, pass logback.configurationFile as a system property:
        -Dlogback.configurationFile=apitest/build/resources/main/logback.xml
    The gradle build file takes care of adding this system property to the bisq-apitest script.
    -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{MMM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{40}: %msg %xEx%n)</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

    <logger name="io.grpc.netty" level="WARN"/>
</configuration>
