# install in /etc/systemd/system/bisq.service

[Unit]
Description=Bisq Node
After=bitcoin.service
#Requires=bitcoin.service
#BindsTo=bitcoin.service

[Service]
SyslogIdentifier=bisq
EnvironmentFile=/etc/default/bisq.env

ExecStart=/bin/sh __BISQ_HOME__/__BISQ_REPO_NAME__/${BISQ_ENTRYPOINT} \
          --fullDaoNode=${BISQ_DAO_FULLNODE} \
          --userDataDir=${BISQ_HOME} \
          --appName=${BISQ_APP_NAME} \
          --baseCurrencyNetwork=${BISQ_BASE_CURRENCY} \
          --maxConnections=${BISQ_MAX_CONNECTIONS} \
          --maxMemory=${BISQ_MAX_MEMORY} \
          --nodePort=${BISQ_NODE_PORT} \
          --btcNodes=${BITCOIN_P2P_HOST}:${BITCOIN_P2P_PORT} \
          --rpcBlockNotificationHost=${BITCOIN_RPC_BLOCKNOTIFY_HOST} \
          --rpcBlockNotificationPort=${BITCOIN_RPC_BLOCKNOTIFY_PORT} \
          --rpcHost=${BITCOIN_RPC_HOST} \
          --rpcPort=${BITCOIN_RPC_PORT} \
          --rpcUser=${BITCOIN_RPC_USER} \
          --rpcPassword=${BITCOIN_RPC_PASS} \
          --dumpBlockchainData=${BISQ_DUMP_BLOCKCHAIN} \
          --dumpStatistics=${BISQ_DUMP_STATISTICS} \

ExecStop=/bin/kill ${MAINPID} ; sleep 5
Restart=on-failure

ExecStartPre=+/bin/bash -c "if [ $BISQ_DUMP_BLOCKCHAIN = true ];then mount -t tmpfs none -o size=2000M,uid=bisq,gid=bisq $BISQ_HOME/$BISQ_APP_NAME/$BISQ_BASE_CURRENCY/db/json;else true;fi"
ExecStopPost=+/bin/bash -c "if [ $BISQ_DUMP_BLOCKCHAIN = true ];then umount $BISQ_HOME/$BISQ_APP_NAME/$BISQ_BASE_CURRENCY/db/json;else true;fi"

User=bisq
Group=bisq

[Install]
WantedBy=multi-user.target
