<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--
     -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

    <logger name="io.bitsquare" level="DEBUG"/>

    <logger name="com.google.bitcoin" level="INFO"/>

    <logger name="com.google.bitcoin.core.Peer" level="ERROR" additivity="false"/>
    <logger name="com.google.bitcoin.core.PeerGroup" level="ERROR" additivity="false"/>
    <logger name="com.google.bitcoin.net.NioClientManager" level="ERROR" additivity="false"/>
    <logger name="com.google.bitcoin.net.ConnectionHandler" level="ERROR" additivity="false"/>

    <!--
    -->

</configuration>
