<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{MMM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15}: %msg %xEx%n)</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

<!--
    <logger name="com.neemre.btcdcli4j" level="WARN"/>

    <logger name="com.msopentech.thali.toronionproxy.OnionProxyManagerEventHandler" level="INFO"/>

    <logger name="org.bitcoinj.core.AbstractBlockChain" level="WARN"/>
    <logger name="org.bitcoinj.net.BlockingClient" level="WARN"/>
    <logger name="org.bitcoinj.core.PeerGroup" level="WARN"/>
    <logger name="org.bitcoinj.core.Peer" level="WARN"/>
    <logger name="org.bitcoinj.core.Context" level="WARN"/>
    <logger name="org.bitcoinj.wallet.WalletFiles" level="WARN"/>
    <logger name="org.bitcoinj.core.listeners.DownloadProgressTracker" level="WARN"/>
    <logger name="org.bitcoinj.core.PeerSocketHandler" level="WARN"/>
    <logger name="org.bitcoinj.net.NioClientManager" level="WARN"/>

    &lt;!&ndash; We get too many errors logged from connection issues&ndash;&gt;
    <logger name="org.bitcoinj.net.BlockingClient" level="OFF"/>
-->

    <!--
     <logger name="org.bitcoinj.net.ConnectionHandler" level="WARN"/>


     <logger name="org.bitcoinj.net.MultiplexingDiscovery" level="WARN"/>

     -->

</configuration>
