<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <!--
    -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>bitsquare_out.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>


    <root level="WARN">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <!--
        <appender-ref ref="FILE"/>
        -->
    </root>

    <logger name="io.bitsquare" level="TRACE"/>

    <logger name="org.bitcoinj" level="WARN"/>
    <logger name="net.tomp2p" level="WARN"/>
    <logger name="com.vinumeris.updatefx" level="INFO"/>


    <logger name="net.tomp2p.message.Encoder" level="WARN"/>
    <logger name="net.tomp2p.message.Decoder" level="WARN"/>
    <logger name="net.tomp2p.message.MessageHeaderCodec" level="WARN"/>


    <logger name="io.netty.util" level="WARN"/>
    <logger name="io.netty.channel" level="WARN"/>
    <logger name="io.netty.buffer" level="WARN"/>

    <logger name="io.bitsquare.gui.util.Profiler" level="WARN"/>
    <logger name="io.bitsquare.persistence.Persistence" level="WARN"/>
    <logger name="io.bitsquare.locale.BSResources" level="OFF"/>


    <logger name="org.bitcoinj.core.BitcoinSerializer" level="WARN"/>
    <logger name="org.bitcoinj.core.AbstractBlockChain" level="WARN"/>
    <logger name="org.bitcoinj.wallet.DeterministicKeyChain" level="WARN"/>
    <logger name="io.bitsquare.btc.WalletService" level="WARN"/>

    <!--
    <logger name="org.bitcoinj.core.Wallet" level="OFF"/>
    <logger name="org.bitcoinj.core.MemoryPool" level="OFF"/>
    <logger name="org.bitcoinj.net.discovery.DnsDiscovery" level="OFF"/>
    <logger name="org.bitcoinj.core.DownloadListener" level="OFF"/>
    <logger name="org.bitcoinj.core.TransactionOutput" level="OFF"/>
    <logger name="org.bitcoinj.core.BitcoinSerializer" level="OFF"/>
    <logger name="org.bitcoinj.core.Peer" level="OFF"/>
    <logger name="org.bitcoinj.core.PeerGroup" level="OFF"/>
    <logger name="org.bitcoinj.core.PeerSocketHandler" level="OFF"/>
    <logger name="org.bitcoinj.net.NioClientManager" level="OFF"/>
    <logger name="org.bitcoinj.net.ConnectionHandler" level="OFF"/>
    -->
</configuration>
