<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{MMM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15}: %msg %xEx%n)</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

    <logger name="io.bitsquare.storage.Storage" level="WARN"/>
    <logger name="io.bitsquare.storage.FileManager" level="WARN"/>
    <logger name="io.bitsquare.locale.BSResources" level="ERROR"/>

    <logger name="io.bitsquare.p2p" level="WARN"/>
    <logger name="io.bitsquare.btc.pricefeed" level="WARN"/>

    <!-- <logger name="io.bitsquare.p2p.peers.PeerGroup" level="TRACE"/>
    
    

     <logger name="io.bitsquare.p2p.P2PService" level="TRACE"/>
     <logger name="io.bitsquare.p2p.storage.ProtectedExpirableDataStorage" level="TRACE"/>
     <logger name="io.bitsquare.p2p.network.LocalhostNetworkNode" level="TRACE"/>
     <logger name="io.bitsquare.p2p.network.TorNetworkNode" level="TRACE"/>
     <logger name="io.bitsquare.p2p.network.NetworkNode" level="TRACE"/>-->


    <!-- <logger name="com.msopentech.thali.toronionproxy.OnionProxyManagerEventHandler" level="WARN"/>
 
     <logger name="io.bitsquare.btc.AddressBasedCoinSelector" level="WARN"/>
     <logger name="io.bitsquare.storage.Storage" level="WARN"/>
 
     <logger name="io.bitsquare.gui.util.Profiler" level="ERROR"/>
     <logger name="io.bitsquare.temp.storage.RemoteStorage" level="WARN"/>
     <logger name="io.bitsquare.storage.FileManager" level="WARN"/>
 
     <logger name="org.bitcoinj" level="WARN"/>
 
     <logger name="org.bitcoinj.core.BitcoinSerializer" level="WARN"/>
     <logger name="org.bitcoinj.core.Peer" level="WARN"/>
     <logger name="org.bitcoinj.core.HeadersMessage" level="WARN"/>
     <logger name="org.bitcoinj.core.AbstractBlockChain" level="ERROR"/>-->

    <logger name="com.msopentech.thali.toronionproxy.OnionProxyManagerEventHandler" level="INFO"/>

    <logger name="org.bitcoinj" level="WARN"/>
    <logger name="org.bitcoinj.core.PeerGroup" level="ERROR"/>-->
    <logger name="org.bitcoinj.net.ConnectionHandler" level="ERROR"/>-->
    <logger name="org.bitcoinj.core.PeerSocketHandler" level="ERROR"/>-->

    <!-- <logger name="org.bitcoinj.core.Peer" level="TRACE"/>-->

</configuration>
