<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Bisq.
  ~
  ~ Bisq is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version.
  ~
  ~ Bisq is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
  ~ License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with Bisq. If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{MMM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15}: %msg %xEx%n)</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

    <logger name="io.bisq.common.storage.Storage" level="WARN"/>
    <logger name="io.bisq.common.storage.FileManager" level="WARN"/>

    <!-- <logger name="io.bisq.p2p.peers" level="WARN"/>
     <logger name="io.bisq.p2p.peers.getdata" level="WARN"/>
     <logger name="io.bisq.p2p.peers.keepalive" level="WARN"/>
     <logger name="io.bisq.p2p.peers.peerexchange" level="WARN"/>
 
     <logger name="io.bisq.p2p.network" level="WARN"/>
     <logger name="io.bisq.p2p.P2PService" level="WARN"/>-->


    <!-- <logger name="io.bisq.p2p.peers.PeerGroup" level="INFO"/>
     <logger name="io.bisq.p2p.P2PService" level="INFO"/>
     <logger name="io.bisq.p2p.storage.ProtectedExpirableDataStorage" level="INFO"/>
     <logger name="io.bisq.p2p.network.LocalhostNetworkNode" level="INFO"/>
     <logger name="io.bisq.p2p.network.TorNetworkNode" level="TRACE"/>
     <logger name="io.bisq.p2p.network.NetworkNode" level="TRACE"/>-->

    <logger name="com.msopentech.thali.toronionproxy.OnionProxyManagerEventHandler" level="INFO"/>

</configuration>
