/*
Theme colors:

logo colors:

new blue: 0f87c3
new grey: 666666

00abff
orange web page quotes : ff7f00


main bg grey: dddddd
content bg grey: f4f4f4
tab pane upper bg gradient color mid dark grey to bright grey: cfcfcf -> dddddd
upper border on tab: cfcfcf
lower border on tab: b5b5b5
upper gradient color on tab: d3d3d3
lower gradient color on tab: dddddd
bg color of non edit textFields: fafafa
*/

.root {
    -bs-grey: #666666;
    -bs-bg-grey: #dddddd;
    -bs-light-grey: #cccccc;
    -bs-content-bg-grey: #f4f4f4;
    -bs-very-light-grey: #f8f8f8;

    -fx-accent: #0f87c3;
    -bs-blue-soft: derive(-fx-accent, 60%);
    -bs-blue-transparent: #0f87c344;

    -bs-green: #00aa33;
    -bs-green-soft: derive(-bs-green, 60%);
    -bs-green-transparent: #00aa3344;

    -bs-error-red: #dd0000;
    -bs-red-soft: derive(-bs-error-red, 60%);

    -bs-orange: #ff8a2b;
    -bs-yellow: #ffb60f;
    -bs-turquoise: #2cacaf;
    -bs-turquoise2: #1c9099;
    -bs-brown: #52321b;
    -bs-dark-blue: #0b456d;
    -bs-dark-green: #708614;
    -bs-fresh-green: #b7d042;
    -bs-ocher: #de9d2c;
    -bs-light-blue: #c4eef2;
    -bs-smooth-red: #ed7157;
    -bs-soft-red: #fe5e1c;
    -bs-soft-red2: #f35e1c;
    -bs-soft-red3: #fa6f25;
    -bs-yellow2: #f7ac03;

    -bs-warning: -bs-orange;

    -bs-buy: -bs-yellow;
    -bs-buy-focus: derive(-bs-buy, -50%);
    -bs-buy-hover: derive(-bs-buy, -10%);
    -bs-buy-transparent: derive(-bs-buy, 95%);

    -bs-sell: -bs-turquoise;
    -bs-sell-focus: derive(-bs-sell, -50%);
    -bs-sell-hover: derive(-bs-sell, -10%);
    -bs-sell-transparent: derive(-bs-sell, 95%);

    -bs-cancel: #ddd;
    -bs-cancel-focus: derive(-bs-cancel, -50%);
    -bs-cancel-hover: derive(-bs-cancel, -10%);

    -fx-default-button: derive(-fx-accent, 95%);
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: #0f87c322;
    -fx-selection-bar: derive(-fx-accent, 50%);

    -fx-font-size: 13;
    -fx-font-family: "Arial Unicode";
}