<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>LSMinimumSystemVersion</key>
        <string>10.7.4</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleAllowMixedLocalizations</key>
        <true/>
        <key>CFBundleExecutable</key>
        <string>Bisq</string>
        <key>CFBundleIconFile</key>
        <string>package/osx/Bisq.icns</string>
        <key>CFBundleName</key>
        <string>Bisq</string>
        <key>CFBundleIdentifier</key>
        <string>io.bisq.Bisq</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1</string>
        <!--  CFBundleSignature exists only for compatibility with Classic Mac OS apps and documents. Modern Mac OS X apps don't need to worry about assigning a Bundle Signature.-->
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.finance</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright (C) 2015</string>
        <key>NSHighResolutionCapable</key>
        <string>true</string>
        <key>JVMRuntime</key>
        <string>..</string>
        <key>JVMMainClassName</key>
        <string>bisq.desktop.app.BisqAppMain</string>
        <key>JVMAppClasspath</key>
        <string></string>
        <key>JVMMainJarName</key>
        <string>shaded.jar</string>
        <key>JVMPreferencesID</key>
        <string>bisq</string>
        <key>JVMOptions</key>
        <array>
        </array>
        <key>JVMUserOptions</key>
        <dict>
        </dict>

    </dict>
</plist>
