
// Base colors
$color-primary: hsl(127, 65%, 42%); // #25B135
$color-primary-dark: hsl(127, 56%, 41%); // #3EA34A    2ea33c?
$color-primary-light: hsl(127, 42%, 46%); // #189E27
$brand-color-gray: #373737;

// Shades of gray
$color-gray-11: #1d1d21;
$color-gray-10: #2e2e31;
$color-gray-6: #504f52;
$color-gray-4: #7b7b7c;
$color-gray-3: #929293;
$color-gray-2: #afaeb0;
$color-gray-1: #cfcecf;
$color-gray-0:  #f2f2f2;

// Auxiliary colors
$color-red-1: hsl(1, 68%, 52%);
$color-red-2: hsl(1, 80%, 66%);
$color-red-3: hsl(1, 100%, 76%);

$color-orange-1: hsl(27, 100%, 58%);
$color-orange-2: hsl(27, 100%, 43%);

$color-yellow-1: hsl(42, 100%, 53%);
$color-yellow-2: hsl(42, 90%, 75%);

$color-green-1: hsl(123, 22%, 81%);
$color-green-2: hsl(123, 19%, 66%);
$color-green-3: hsl(123, 22%, 49%);
$color-green-4: hsl(123, 80%, 41%);
$color-green-5: hsl(123, 50%, 33%);

$color-blue-1: hsl(194, 64%, 82%);
$color-blue-2: hsl(194, 34%, 56%);
$color-blue-3: hsl(194, 51%, 56%);
$color-blue-4: hsl(194, 70%, 40%);
$color-blue-5: hsl(194, 80%, 21%);
$color-blue-6: hsl(181, 60%, 43%);
