<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Bitsquare.
  ~
  ~ Bitsquare is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version.
  ~
  ~ Bitsquare is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
  ~ License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with Bitsquare. If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>bootstrapNode.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>bootstrapNode_%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="net.tomp2p" level="INFO"/>
    <logger name="io.bitsquare" level="INFO"/>

    <logger name="org.bitcoinj" level="WARN"/>
    <logger name="com.vinumeris.updatefx" level="WARN"/>

</configuration>
