<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

    <!-- <logger name="io.bisq" level="TRACE"/>
     <logger name="com.msopentech.thali.toronionproxy.OnionProxyManagerEventHandler" level="WARN"/>
 
     <logger name="io.bisq.btc.AddressBasedCoinSelector" level="OFF"/>
 
     <logger name="io.bisq.gui.util.Profiler" level="ERROR"/>
     <logger name="io.bisq.common.locale.Res" level="ERROR"/>
     <logger name="io.bisq.temp.storage.RemoteStorage" level="WARN"/>
     <logger name="io.bisq.common.storage.FileManager" level="WARN"/>
 
     <logger name="org.bitcoinj" level="WARN"/>
 
     <logger name="org.bitcoinj.core.BitcoinSerializer" level="WARN"/>
     <logger name="org.bitcoinj.core.Peer" level="WARN"/>
 
     <logger name="com.neemre.btcdcli4j" level="WARN"/>-->

    <!-- 
   <logger name="com.vinumeris.updatefx" level="OFF"/>
   <logger name="io.netty" level="OFF"/>
   <logger name="org.bitcoinj.core.BitcoinSerializer" level="ERROR"/>
   <logger name="org.bitcoinj.core.Peer" level="ERROR"/>-->

    <!-- <logger name="org.bitcoinj.core.BitcoinSerializer" level="WARN"/>
     <logger name="org.bitcoinj.core.AbstractBlockChain" level="WARN"/>
     <logger name="org.bitcoinj.wallet.DeterministicKeyChain" level="WARN"/>-->
    <!-- <logger name="io.bisq.btc.WalletService" level="WARN"/>-->

    <!--
    <logger name="org.bitcoinj.core.Wallet" level="OFF"/>
    <logger name="org.bitcoinj.core.MemoryPool" level="OFF"/>
    <logger name="org.bitcoinj.net.discovery.DnsDiscovery" level="OFF"/>
    <logger name="org.bitcoinj.core.DownloadListener" level="OFF"/>
    <logger name="org.bitcoinj.core.TransactionOutput" level="OFF"/>
    <logger name="org.bitcoinj.core.BitcoinSerializer" level="OFF"/>
    <logger name="org.bitcoinj.core.Peer" level="OFF"/>
    <logger name="org.bitcoinj.core.PeerGroup" level="OFF"/>
    <logger name="org.bitcoinj.core.PeerSocketHandler" level="OFF"/>
    <logger name="org.bitcoinj.net.NioClientManager" level="OFF"/>
    <logger name="org.bitcoinj.net.ConnectionHandler" level="OFF"/>
    -->
</configuration>
