#root-pane {
    -fx-background-color: #dddddd;
}

#content-pane {
    -fx-background-color: #f4f4f4;
}

#headline-label {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#info-label {
    -fx-font-size: 14;
}

#online-label {
    -fx-fill: green;
}

#offline-label {
    -fx-fill: red;
}

#confidence-progress-indicator {
    -fx-fill: null;
}

/* main nav */

#nav-button {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

#nav-alert-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-style: none;
}

#nav-button-label {
    -fx-font-size: 10;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#nav-balance-label {
    -fx-font-weight: bold;
    -fx-text-alignment: right;
}

#nav-balance-currency-label {
    -fx-text-alignment: left;
}

#copy-icon {
    -fx-cursor: hand;
}

#copy-icon:hover {
    -fx-text-fill: #0096c9;
}

.text-field:readonly {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
}

#feedback-text {
    -fx-font-size: 10;
}

#label-url {
    -fx-cursor: hand;
    -fx-text-fill: blue;
    -fx-underline: true;
}

/* table */

#orderbook-table .table-cell {
    -fx-alignment: center;
}

#orderbook-table .column-header .label {
    -fx-alignment-alignment: center;
}

#orderbook-table .focus {
    -fx-alignment: center;
}

/* forms */
#form-header-text {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#form-title {
    -fx-font-weight: bold;
}

#form-title {
    -fx-font-weight: bold;
}

#form-entry-value {
}

/* tabpane */
.tab-pane .tab-label {
    -fx-font-size: 15;
}

.tab-pane:focused {
    -fx-background-color: transparent;
}

.tab-header-area:focused {
    -fx-background-color: transparent;
}

.tab:focused {
    -fx-background-color: transparent;
}

/* tableview */
.table-view:focused {
    -fx-background-color: transparent;
}

/* scrollpane */

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}
