/* splash screen */
#image-splash-logo {
    -fx-image: url("../../../images/logo_splash.png");
}

/* notification */
#notification-logo {
    -fx-image: url("../../../images/notification_logo.png");
}

/* shared*/
#image-info {
    -fx-image: url("../../../images/info.png");
}

#image-alert-round {
    -fx-image: url("../../../images/alert_round.png");
}
#image-remove {
    -fx-image: url("../../../images/remove.png");
}

#image-buy {
    -fx-image: url("../../../images/buy.png");
}

#image-sell {
    -fx-image: url("../../../images/sell.png");
}

#image-expand {
    -fx-image: url("../../../images/expand.png");
}

#image-collapse {
    -fx-image: url("../../../images/collapse.png");
}

#image-buy-large {
    -fx-image: url("../../../images/buy_large.png");
}

#image-sell-large {
    -fx-image: url("../../../images/sell_large.png");
}



/* navigation buttons */
#image-nav-home {
    -fx-image: url("../../../images/nav/home.png");
}
#image-nav-home-active {
    -fx-image: url("../../../images/nav/home_active.png");
}

#image-nav-buy {
    -fx-image: url("../../../images/nav/buy.png");
}
#image-nav-buy-active {
    -fx-image: url("../../../images/nav/buy_active.png");
}

#image-nav-sell {
    -fx-image: url("../../../images/nav/sell.png");
}
#image-nav-sell-active {
    -fx-image: url("../../../images/nav/sell_active.png");
}

#image-nav-orders {
    -fx-image: url("../../../images/nav/orders.png");
}
#image-nav-orders-active {
    -fx-image: url("../../../images/nav/orders_active.png");
}

#image-nav-funds {
    -fx-image: url("../../../images/nav/funds.png");
}
#image-nav-funds-active {
    -fx-image: url("../../../images/nav/funds_active.png");
}

#image-nav-msg {
    -fx-image: url("../../../images/nav/msg.png");
}
#image-nav-msg-active {
    -fx-image: url("../../../images/nav/msg_active.png");
}

#image-nav-settings {
    -fx-image: url("../../../images/nav/settings.png");
}
#image-nav-settings-active {
    -fx-image: url("../../../images/nav/settings_active.png");
}

#image-nav-account {
    -fx-image: url("../../../images/nav/account.png");
}
#image-nav-account-active {
    -fx-image: url("../../../images/nav/account_active.png");
}


/* account*/
#image-tick {
    -fx-image: url("../../../images/tick.png");
}

#image-arrow-blue {
    -fx-image: url("../../../images/arrow_blue.png");
}

#image-arrow-grey {
    -fx-image: url("../../../images/arrow_grey.png");
}
