.text-field.validation_error, .text-area.validation_error .content, .date-picker.validation_error > .text-field {
   -fx-effect: innershadow(three-pass-box, red, 12 , 0.5, 1, 1);
}


#error-msg-item .label {
    -fx-text-fill: white;
}

#error-msg-item:focused {
     -fx-background-color: #B80000;
}

#error-msg-item:focused .label {
    -fx-text-fill: white;
}

#error-msg {
    -fx-background-color: #B80000;
    -fx-padding: 0;
    -fx-background-radius: 4 4 4 4;
}
