name: Build Bisq

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ubuntu-latest, macOS-latest, windows-latest]
            java: ['11']
    name: Test Java ${{ matrix.Java }}, ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4.1.2

    - name: Set up JDK
      uses: actions/setup-java@v4.2.1
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'

    - name: Build with Gradle
      uses: gradle/gradle-build-action@v3.2.0
      with:
        arguments: build --scan
