name: Build Bisq

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ubuntu-latest, macOS-latest, windows-latest]
            java: [ '11', '11.0.3', '15', '15.0.5']
    name: Test Java ${{ matrix.Java }}, ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3.5.2

    - name: Set up JDK
      uses: actions/setup-java@v3.11.0
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'

    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2.4.2
      with:
        arguments: build
