name: Build Bisq

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ubuntu-latest, macOS-latest, windows-latest]
            java: [ '11', '11.0.3', '15', '15.0.5']
    name: Test Java ${{ matrix.Java }}, ${{ matrix.os }}
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set up JDK
      uses: actions/setup-java@c3ac5dd0ed8db40fedb61c32fbe677e6b355e94c
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Validate Gradle Wrapper JAR files
      uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6

    - name: Build with Gradle
      run: ./gradlew build

    - name: Print Dependency Verification Report
      if: ${{ failure() }}
      run: cat build/reports/dependency-verification/*/*.html
      shell: bash
