name: Codacy Coverage Reporter

on:
    push:
        branches:
            - master

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        name: codacy-coverage-reporter
        steps:
            - uses: actions/checkout@v4.1.2

            - name: Set up JDK
              uses: actions/setup-java@v4.2.1
              with:
                  java-version: '11'
                  distribution: 'zulu'

            - name: Build with Gradle
              uses: gradle/gradle-build-action@v3.2.0
              with:
                  arguments: build jacocoTestReport testCodeCoverageReport --scan

            - name: Run codacy-coverage-reporter
              uses: codacy/codacy-coverage-reporter-action@v1.3.0
              with:
                  project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
                  coverage-reports: ${{ github.workspace }}/code-coverage-report/build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml
